:root {
    font-family: "Inter", "Helvetical", sans-serif;
     
    // color
    --light-neutral: #ffffff; // for background
    --dark-neutral: #000000; // for font
    --accent: #5928e5; // for active item 
    --dark-neutral-secondary: #818181; // for secondary text
    --light-neutral-secondary: #CCCCCC; // for border

    // dimension value
    --header-height: 80px;
    --rounded-border-radius: 12px;
    --pill-border-radius: 999px;
    --circle-border-radius: 50%;
}

html, 
body {
    height: 100%;
}
